<style>
	header {
		width: 100%;
		height: 181px;
		border-bottom: 1px solid #dad7d7;
		padding: 20px;
	}
	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		color:#694d49;
		margin-right: 10px;
	}
</style>
<div id="header">

<div class="box" style="margin: 0 auto; text-align: center;">

          <ul><%= link_to "About" %></ul>
          <ul><%= link_to "商品一覧", admin_items_path %></ul>
          <ul><%= link_to "新規登録", new_customer_registration_path %></ul>
          <ul><%= link_to "ログイン", new_customer_session_path %></ul>
</div>

<h3>商品詳細</h3>

    <div class="row" style="width: 90%; margin: 20px auto;">
  <div class="col-xs-1" ></div>
  <div class="col-xs-5" style ="margin: 100px 0 100px 0">
    <%= image_tag @item.image, size:"100x100" %>
  </div>
  <div class="col-xs-6" style ="margin: 100px 0 100px 0">

    <table class="table">

	  <tr>
		<th>商品名</th>
		<td><%= @item.name %></td>
	  </tr>

	  <tr>
		<th>商品説明</th>
		<td><%= @item.introduction %></td>
	  </tr>

	  <tr>
	    <th>ジャンル</th>
		<td><%= @item.genre.name %></td>
	  </tr>

	  <tr>
        <th>税込価格 （税抜価格）</th>
		<td><%= (@item.price * 1.1).floor %>   (<%= @item.price %>)  円</td>
	  </tr>

	  <tr>
	    <th>販売ステータス</th>
		<td>
		  <% if @item.is_active == true %>
		    販売中
		  <% elsif @item.is_active == false %>
		    販売停止
		  <% end %>
		</td>
	  </tr>
	  </table>

	  <%= link_to edit_admin_item_path(@item.id) do%>
		<label class="btn btn-info">編集する</label>
	  <% end %>
  </div>
</div>