<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
     <h1><div style="border: 1px solid; width: 150px; padding: 20px 40px 20px 80px;">LOGO</div></h1>
      <button class="navbar-toggler" type="button" date-toggle="collapse" date-target="navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "About", edit_book_path(@book_detail.id), class: "btn btn-sm btn-outline-secondary" %>
          </li>
          <li class="nav-item">
            <%= link_to "商品一覧", items_path, class: "btn btn-sm btn-outline-secondary" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-sm btn-outline-secondary" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_customer_session_path, class: "btn btn-sm btn-outline-secondary" %>
          </li>
        </ul>
      </div>
</header>

<div class="container">

<h4 style="margin-bottom: 20px; border-left: 2px solid #2D6F4C; padding: 10px;">管理者ログイン</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <label>メールアドレス</label>
    　<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  　</div>

    <div class="form-group">
      <label>パスワード</label>
    　<%= f.password_field :password, autocomplete: "current-password" %>
  　</div>

  <div class="actions">
    <%= f.submit "ログイン", class:"btn btn-bule" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
