
<div style = "text-align: center">
  <p>ようこそ、長野ケーキへ！</p><br>
  <p>このサイトは、ケーキ販売のECサイトになります。</p><br>
  <p>会員でない方も商品の閲覧はできますが、</p><br>
  <p>購入には会員登録が必要になります。</p>
</div>
<h2 class="section-ttl">新着商品</h2>
		<div class="items">
			<% @items.each do |item| %>
				<%= link_to item_path(item) do %>
					<%= image_tag item.image, size:"100x100" %>
					<h5><%= item.genre.name %></h5>
					<p><%= item.name %></p>
					<p><%= (item.price*1.1).floor %>円</p>
				<% end %>
			<% end %>
			
		</div>
