<style>
	h4 {
		border-left: 2px solid #2D6F4C;
		padding: 10px;
		}

	th {
		background: #dad7d7;
		border: 1px solid #fff;
		width: 25%;
	}

	.text {
		font-size: 12px;
		color: #2d714c;
	}
</style>

<div class="row" style="width:60%; margin:0 auto;">
<h4>注文履歴詳細</h4>
	<span class="text pull-right">表示金額は全て税込です。</span>
	<h5>注文情報</h5>
			<%= form_with model: @order, url: admin_order_path do |f| %>
<table class="table table-bordered ">
		<tr>
			<th>注文日</th>
			<td><%= @order.created_at.strftime('%Y年%m月%d日') %></td>
		</tr>
		<tr>
			<th>配送先</th>
			<td>
				〒<%= @order.postal_code %><br>
				<%= @order.addresses %><br>
				<%= @order.name %>様
			</td>
		</tr>
		<tr>
			<th>支払い方法</th>
			<td><%= @order.payment_method %></td>
		</tr>
		<tr>
			<th>ステータス</th>
			<td><%= f.select :status,{入金待ち:"入金待ち",入金確認:"入金確認",制作中:"制作中",発送準備中:"発送準備中",発送済み:"発送済み"}%></td>
			<td><%= f.submit "更新" %></td>

		</tr>
</table>
			<% end %>

<h5>請求情報</h5>
<table class="table table-bordered ">
	<tbody>
		<tr>
			<th>商品合計</th>
			<td><%= (@order.order_details.sum(:price)) %>円</td>
		</tr>
		<tr>
			<th>配送料</th>
			<td><%= @order.shipping_cost %>円</td>
		</tr>
		<tr>
			<th>ご請求額</th>
			<td><%= (@order.order_details.sum(:price))+ @order.shipping_cost %>円</td>
		</tr>
	</tbody>
</table>

<h5>注文内容</h5>
<table class="table table-bordered">
		<tr>
			<th>内訳</th>
			<td>
			  <% @order.order_details.each do |item| %>
				<%= item.item.name %> (<%= (item.item.price*1.1).floor %>円/個) ×<%= item.amount %>個＝
				<%= (item.price*1.1).floor %>円<br>
			  <% end %>
			</td>
		</tr>
</table>

</div>