<div class="cart_container" style="width:90%; margin: 20px auto; position:relative;">


	<h3>ショッピングカート</h3>


<div class="row" style="width:100%; height:20px;"></div>

<div style="position:absolute; top: 30px; right: 0;">
	<%= link_to 'カートを空にする', cart_items_destroy_all_path, method: :delete, data: {confirm: 'カートを空にして本当によろしいですか？'}, class: 'fbtn' %>

</div>


<span style="color:#266846;">表示されている価格は全て税込です。</span>
<table class="table table-bordered">
	<tr style="background:#dad7d7; border: 1px solid #fff;">
		<th>商品名</th>
		<th>単価</th>
		<th>数量</th>
		<th>小計</th>
		<th></th>
	</tr>
<% total_price = 0 %>
 <% @cart_items.each do |item| %>
	<tr>
		<td>
			<%= image_tag item.item.image, size:"100x100" %>
			<%= item.item.name %>
		</td>
		<td>
			<!--単価-->
 			<%= hidden_field :item_id, value: item.item.price %>
			<%= (item.item.price*1.1).floor %>
		</td>
		<td>
			<%= form_with model: item, url: cart_item_path(item) do |f| %>
			<%= hidden_field :amount, value: item.item_id %>
			<%= f.select :amount, *[1..5] %>
			<%= f.submit "更新" %>
			<% end %>
		</td>
		<td>
			<!--小計-->
			<%= hidden_field :item_id, value: item.item.price %>
			<%= (item.item.price*1.1*item.amount).floor %>
		</td>
		<td><%= link_to '削除する', cart_item_path(item.id), method: :delete, data: {confirm: "削除しますか？"} %></td>
		<% total_price += item.subtotal %>
	</tr>
 <% end %>
</table>

<div class="row">
	<div class="col-xs-4 pull-right">
		<table class="table table-striped">
			<tr style="background:#dad7d7; border: 1px solid #fff;"><th>合計金額</th></tr>
			<tr><td><%= total_price %></td></tr>
		</table>
	<div class="col-xs-4">
		<%= link_to root_path do %>
			<span class="btn btn-info glyphicon glyphicon-chevron-left">買い物を続ける</span>
		<% end %>
	</div>



	</div>

</div>



<!-- カートに商品が入っていたら表示させる -->

	<% if @cart_items.blank? %>
		<% else %>
		<div class="text-center">
			<%= link_to '購入に進む', new_order_path, class:"btn btn-success" %>
		</div>
	<% end %>

</div>



<script>
	$(function () {
	$('[data-toggle="tooltip"]').tooltip();
});
</script>