
<style>
.each_item {
	padding: 0px 5px;
	height: 250px;
	margin-top: 15px;
	overflow-y: scroll;
}

.eyecatch {
	width: 100%;
	height: 600px;
	background-position: center;
	background-size: cover;
}

</style>


		<h1>商品一覧</h1>

   		 <div class="row">
			<% @items.each do |item| %>
					<div class="col-xs-3 each_item">
						<%= link_to item_path(item) do %>
						 <% if item.image.attached? %>
						  <%= image_tag item.image,size:"200x200" %>
						 <% else %>
						  <%= image_tag 'no_image', size: "200x200" %>
						 <% end %>
						<% end %>
						<%= item.name %>
						<%= item.price %>円<br>
						<%= item.introduction%>
					</div>
			<% end %>
		</div>
	</div>
