<style>
	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		color:#694d49;
		margin-right: 10px;
	}
</style>



<div id="header" style="border-bottom:1px solid #dad7d7">

<% if admin_signed_in? %>
	<ul>
		<li><%= link_to '商品一覧', admin_items_path %></li>
		<li><%= link_to '会員一覧', admin_customers_path %></li>
		<li><%= link_to '注文履歴一覧', admin_root_path %></li>
		<li><%= link_to 'ジャンル一覧', admin_genres_path %></li>
		<li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
	</ul>
<% else %>
  <ul>
    <li><%= link_to 'About', about_path %></li>
		<li><%= link_to '商品一覧', items_path %></li>
		<li><%= link_to '新規登録', new_customer_registration_path %></li>
		<li><%= link_to 'ログイン', new_customer_session_path %></li>
  </ul>
<% end %>
</div>